@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
    /* colors */
    --clr-dark: 240, 100%, 6%;
    --clr-light: 15, 50%, 97%;
    --clr-white: 0 0% 100%;
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.35rem;
    --fs-500: 1.2rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-500);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.6;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img:not([hidden]),
picture:not([hidden]) {
    max-width: 100%;
    display: block;
}

/* Make forms easier to work with */

button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}
input{
    font: inherit;
    cursor:text;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.container {
    padding-inline: 1em;
    margin-inline: auto;
    /* max-width: 80rem; */
}

.flow>*+* {
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-transparent {
    background-color: transparent;
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}


.chatroom-window{
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    width: 100vw;
    padding-inline: 2rem;
    margin: 2rem 0;
}
#settings-pane{
    background-color: hsl(var(--clr-light));
    border-radius: 60px;
    text-align: center;
    display: grid;
    place-content: center;
}
#channel-pane{
    border-radius: 60px;
    padding: 1rem 3rem;

    justify-content: space-around;
    background-color: hsl(var(--clr-light));
}

#chatroom-pane{
    /* width: rem; */
    border-radius: 60px;
    justify-content: space-around;
    text-align: center;
    background-color: hsl(var(--clr-light));
    padding: 2rem 0;
    flex-direction: column;
}

#chat-window{
    border-radius: 60px;
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1.7;
    background-color: hsl(var(--clr-light));
}

#typing-window{
    margin-top: 1rem;
    border-radius: 60px;
    padding: 1rem 0;
    width: 100%;
}
#typing-window > input{
    border-radius: 60px;
    padding: 1rem 2rem;
    width: 100%;

}

.channelBtn{
    /* display: ; */
    /* width: 2rem; */
    height: 5rem;
    aspect-ratio: 1;
    color: white;
    font-size: var(--fs-700);
    border-radius: 50%;
    border: none;
    background-color: #E28413;
}
.chatroomBtn{
    border: none;
    background-color: #E28413;
    color: white;
    padding: 1rem 3rem;
    width: 70%;
    border-radius: 60px;
}
.chatroomBtn > *{

}
.chatroom-img{
    /* display: inline-block; */
    width: 20%;
    border-radius: 100%;
    aspect-ratio: 1;
    float: left;
    /* width: 30%; */
    /* display: inline; */
}